@CHARSET "UTF-8";


#oldPasswordLabel
{
	position: absolute;
	left: 10px;
	top: 91px;
	width:112px;
	text-align: right; 
}

#id_oldpassword
{
	position: absolute;
	left: 127px;
	top: 81px;
	width: 186px;
	height: 16px;
}

#newPasswordLabel
{
	position: absolute;
	left: 10px;
	top: 127px;
	width: 112px;
	text-align: right; 
}

#id_newpassword
{
	position: absolute;
	left: 127px;
	top: 115px;
	width: 186px;
	height: 16px;
}

#newRepeatedPasswordLabel
{
	position: absolute;
	left: 10px;
	top: 159px;
	width: 112px;
	text-align: right; 
}

#id_newrepeatedpassword
{
	position: absolute;
	left: 127px;
	top: 149px;
	width: 186px;
	height: 16px;
}

#passwordbutton
{
	position: absolute;
	left: 245px;
	top: 193px;
}