{% extends "base.html" %}

{% block title %}
   {{dictum.title}}
{% endblock %}

{% block menu %}
<div>
  <ul id="slidetabsmenu">
    <li><a href="/" title="{{dictum.settingsTab}}"><span>{{dictum.settingsTab}}</span></a></li>
    <li><a href="/channels/" title="{{dictum.channelsTab}}"><span>{{dictum.channelsTab}}</span></a></li>
    <li class="current"><a href="/stastic/" title="{{dictum.channelsTab}}"><span>{{dictum.channelsTab}}</span></a></li>
    <li><a href="/administration/" title="{{dictum.administrationTab}}"><span>{{dictum.administrationTab}}</span></a></li>
    <li><a href="/update/" title="{{dictum.updateTab}}"><span>{{dictum.updateTab}}</span></a></li>
    <li><a href="/password/" title="{{dictum.passwordTab}}"><span>{{dictum.passwordTab}}</span></a></li>
    <li><a href="/exit/" title="{{dictum.exitTab}}"><span>{{dictum.exitTab}}</span></a></li>
  </ul>
</div>
{% endblock %}

{% block content %}
<h1>Statistics</h1>
{% endblock %}