{% extends "base.html" %}

{% block title %}
   {{dictum.title}}
{% endblock %}

{% block menu %}
<div>
  <ul id="slidetabsmenu">
    <li class="current"><a href="" title="{{dictum.settingsTab}}"><span>{{dictum.settingsTab}}</span></a></li>
    <li><a href="/channels/" title="{{dictum.channelsTab}}"><span>{{dictum.channelsTab}}</span></a></li>
    <li><a href="/administration/" title="{{dictum.administrationTab}}"><span>{{dictum.administrationTab}}</span></a></li>
    <li><a href="/update/" title="{{dictum.updateTab}}"><span>{{dictum.updateTab}}</span></a></li>
    <li><a href="/password/" title="{{dictum.passwordTab}}"><span>{{dictum.passwordTab}}</span></a></li>
    <li><a href="/exit/" title="{{dictum.exitTab}}"><span>{{dictum.exitTab}}</span></a></li>
  </ul>
</div>
{% endblock %}

{% block content %}
<link href="/content/css/settings.css" rel="stylesheet" type="text/css" media="all" />
<form action="" method="post" id='settings'>{% csrf_token %}
  <div id="shoppanel">
    <label id="shoppanellabel">{{dictum.shoppanellabel}}</label>
    <label id="shopidlabel">{{dictum.shopidlabel}}</label>
    <div class="field">
		{{ form.shopid }}
	</div>
	
	<label id="schedulelabel">{{dictum.schedulelabel}}</label>
	{{ form.workallday }}
	<label id="alldaylabel">{{dictum.alldaylabel}}</label>
	
	<label id="countfromlabel">{{dictum.countfromlabel}}</label>
	{{ form.worktimefrom}}
	
	<label id="counttilllabel">{{dictum.counttilllabel}}</label>
	{{ form.worktimetill}}
	
  </div>
  
  <div id="reportsettings">
  	<label id="reportsendinglabel">{{dictum.reportsendinglabel}}</label>
  	<label id="reportRangeLabel">{{dictum.reportRangeLabel}}</label>
  	{{form.intervalhours}}
  
  	<label id="manualHoursLabel">{{dictum.manualHoursLabel}}</label>
  	{{form.ismanualhours}}
  
  	{{form.manualhours}}
  
  	<label id="is1Clabel">{{dictum.is1Clabel}}</label>
  	{{form.is1C}}
  </div>
  
  <div id="reportdelivery">
    <label id="deliveryTypesLabel">{{dictum.deliveryTypesLabel}}</label>
    
    <div id="maildelivery">    
      <label id="sendByEmailLabel">{{dictum.sendByEmailLabel}}</label>
      {{form.sendbyemail}}
    
      <label id="toEmailLabel">{{dictum.toEmailLabel}}</label>
      {{form.emailto}}
   
      <input type="button" value="{{dictum.testbutton}}" class="sendbutton" id="emailTestButton" onclick='testCommand("/settings/testemail/");'>
    </div>
    
    <div id="serverdelivery">
      <label id="sendToServerLabel">{{dictum.sendToServerLabel}}</label>
      {{form.sendtoserver}}
    
      <label id="serverAddressLabel">{{dictum.serverAddressLabel}}</label>
      {{form.serveraddress}}
    
      <label id="serverPortLabel">{{dictum.serverPortLabel}}</label>
	  {{form.serverport}} 
	
	  <input type="button" value="{{dictum.testbutton}}" class="sendbutton" id="serverTestButton"  onclick='testCommand("/settings/testserver/");'>
    </div>
    	
	<div id="shareSettings">
	  <label id="sharedFolderLabel">{{dictum.sharedFolderLabel}}</label>
	  {{form.useshared}}
	  
	  <label id="sharePathLabel">{{dictum.sharePathLabel}}</label>
	  {{form.sharepath}}
	  
	  <label id="shareUserLabel">{{dictum.shareUserLabel}}</label>
	  {{form.shareuser}}
	  
	  <label id="sharePasswordLabel">{{dictum.sharePasswordLabel}}</label>
	  {{form.sharepassword}}
	  
	  <input type="button" value="{{dictum.testbutton}}" class="sendbutton" id="shareTestButton" onclick='testCommand("/settings/testshare/");'>
	</div> 
  </div>
  
  <div id="emailSettings">
    <label id="outgoingEmailLabel">{{dictum.outgoingEmailLabel}}</label>
    <label id="emailFromLabel">{{dictum.emailFromLabel}}</label>
    {{form.emailfrom}}
    
    <label id="smtpServerLabel">{{dictum.smtpServerLabel}}</label>
    {{form.smtpserver}}
    
    <label id="smtpPortLabel">{{dictum.smtpPortLabel}}</label>
    {{form.smtpport}}
    
    <label id="attemptsToSendLabel">{{dictum.attemptsToSendLabel}}</label>
    {{form.attemptstosend}}
    
    <div id="smtpAuth">
      <label id="authenticationLabel">{{dictum.authenticationLabel}}</label>
      <label id="isAuthenticateLabel">{{dictum.isAuthenticateLabel}}</label>
      {{form.useauthentication}}
      
      <label id="emailUserNameLabel">{{dictum.emailUserNameLabel}}</label>
      {{form.smtpuser}}
      
      <label id="emailPasswordLabel">{{dictum.emailPasswordLabel}}</label>
      {{form.smtppassword}}
      
      <label id="useSslLabel">{{dictum.useSslLabel}}</label>
      {{form.usessl}}
    
    </div>
    
  
  </div>
  
  <input type="submit" value="{{dictum.sendbutton}}" class="sendbutton">
</form>

<script type="text/javascript">
    var frm = $('#settings');
    frm.submit(function () {
        var dataToSend = 'fake=fake';//frm.serialize();
        $('input[type=text]').each( function() {
        	dataToSend = dataToSend + '&' + $(this).attr('name') + '=' + escape($(this).val());
        });
        $('input[type=password]').each( function() {
        	dataToSend = dataToSend + '&' + $(this).attr('name') + '=' + $(this).val();
        });
        $('input[type=checkbox]').each( function() {
            if (this.checked)
            {
        		dataToSend = dataToSend + '&' + $(this).attr('name') + '=' + $(this).val();
            }
        });
        $('input[type=hidden]').each( function() {
        	dataToSend = dataToSend + '&' + $(this).attr('name') + '=' + $(this).val();
        });

        
        $.ajax({
            type: "POST",
            url: "/",
            data: dataToSend,
            success: function(data){
        		new Alert(data).show();
            },
            error: function(data) {
            	alert("Something went wrong!");
            }
        });
        return false;
    });

    function testCommand(commandUrl)
    {
    	var dataToSend = 'fake=fake';//frm.serialize();
        $('input[type=text]').each( function() {
        	dataToSend = dataToSend + '&' + $(this).attr('name') + '=' + escape($(this).val());
        });
        $('input[type=password]').each( function() {
        	dataToSend = dataToSend + '&' + $(this).attr('name') + '=' + $(this).val();
        });
        $('input[type=checkbox]').each( function() {
            if (this.checked)
            {
        		dataToSend = dataToSend + '&' + $(this).attr('name') + '=' + $(this).val();
            }
        });
        $('input[type=hidden]').each( function() {
        	dataToSend = dataToSend + '&' + $(this).attr('name') + '=' + $(this).val();
        });
    	
    	$.ajax({
            type: "POST",
            url: commandUrl,
            data: dataToSend,
            success: function(data){
        		new Alert(data).show();
            },
            error: function(data) {
            	alert("Something went wrong!");
            }
        });
    }
</script>

<script type="text/javascript">

    function showHideElements(elements, type) 
    {
        var maimelement = document.getElementById(elements[0]);
        for(var i = 1; i < elements.length; i++)
        {
    		var element = document.getElementById(elements[i]);
    		if (type)
    		{
    		    element.disabled = ! maimelement.checked;
    		}
    		else
    		{
    			element.disabled = maimelement.checked;
    		}
        }
    }

    $(document).ready(function () 
    {
    	var csrftoken = $('input[name="csrfmiddlewaretoken"]').val();

    	function csrfSafeMethod(method) {
    	    // these HTTP methods do not require CSRF protection
    	    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    	}
    	function sameOrigin(url) {
    	    // test that a given url is a same-origin URL
    	    // url could be relative or scheme relative or absolute
    	    var host = document.location.host; // host + port
    	    var protocol = document.location.protocol;
    	    var sr_origin = '//' + host;
    	    var origin = protocol + sr_origin;
    	    // Allow absolute or scheme relative URLs to same origin
    	    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
    	        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
    	        // or any other URL that isn't scheme relative or absolute i.e relative.
    	        !(/^(\/\/|http:|https:).*/.test(url));
    	}
    	$.ajaxSetup({
    	    beforeSend: function(xhr, settings) {
    	        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
    	            // Send the token to same-origin, relative URLs only.
    	            // Send the token only if the method warrants CSRF protection
    	            // Using the CSRFToken value acquired earlier
    	            xhr.setRequestHeader("X-CSRFToken", csrftoken);
    	        }
    	    }
    	});
    	
        // Show/Hide by click implementation
    	var workallday = document.getElementById("id_workallday");
    	workallday.onchange = function (){showHideElements(["id_workallday", "id_worktimefrom", "id_worktimetill"], false);};
    	workallday.onchange();

    	var ismanualhours = document.getElementById("id_ismanualhours");
    	ismanualhours.onchange = function () {
        	showHideElements(["id_ismanualhours", "id_intervalhours"], false);
        	showHideElements(["id_ismanualhours", "id_manualhours"], true);
        };
        ismanualhours.onchange();

        var useauthentication = document.getElementById("id_useauthentication");
        useauthentication.onchange = function () {
        	showHideElements(["id_useauthentication", "id_smtppassword", "id_smtpuser", "id_usessl"], true);
        };
        useauthentication.onchange();

        var sendbyemail = document.getElementById("id_sendbyemail");
        sendbyemail.onchange = function () {
        	showHideElements(["id_sendbyemail", "id_emailto", "id_emailfrom", "id_smtpserver", "id_smtpport", "id_attemptstosend",
        	                  "id_useauthentication", "id_smtppassword", "id_smtpuser", "id_usessl", "emailTestButton"], true);

            if (this.checked)
            {
        		var useauthentication = document.getElementById("id_useauthentication");
        		useauthentication.onchange();
            }
        };
        sendbyemail.onchange();

        var sendtoserver = document.getElementById("id_sendtoserver");
        sendtoserver.onchange = function () {
        	showHideElements(["id_sendtoserver", "id_serveraddress", "id_serverport", "serverTestButton"], true);
        };
        sendtoserver.onchange();

        var useshared = document.getElementById("id_useshared");
        useshared.onchange = function () {
        	showHideElements(["id_useshared", "id_sharepath", "id_shareuser", "id_sharepassword", "shareTestButton"], true);
        };
        useshared.onchange();
    });

</script>

{% endblock %}