{% extends "base.html" %}

{% block title %}
   {{dictum.title}}
{% endblock %}

{% block menu %}
<div>
  <ul id="slidetabsmenu">
    <li><a href="/" title="{{dictum.settingsTab}}"><span>{{dictum.settingsTab}}</span></a></li>
    <li><a href="/channels/" title="{{dictum.channelsTab}}"><span>{{dictum.channelsTab}}</span></a></li>
    <li><a href="/administration/" title="{{dictum.administrationTab}}"><span>{{dictum.administrationTab}}</span></a></li>
    <li class="current"><a href="/update/" title="{{dictum.updateTab}}"><span>{{dictum.updateTab}}</span></a></li>
    <li><a href="/password/" title="{{dictum.passwordTab}}"><span>{{dictum.passwordTab}}</span></a></li>
    <li><a href="/exit/" title="{{dictum.exitTab}}"><span>{{dictum.exitTab}}</span></a></li>
  </ul>
</div>
{% endblock %}

{% block content %}
<link href="/content/css/update.css" rel="stylesheet" type="text/css" media="all" />
<script src="/content/javascript/jquery/jquery.form.js"></script>


<form action="." method="post" id='updateform' enctype="multipart/form-data">{% csrf_token %}
   <label id="updatePackageLabel">{{dictum.updatePackageLabel}}</label>

	<script language="JavaScript" type="text/javascript">
	function HandleBrowseClick()
	{
    	var fileinput = document.getElementById("id_filename");
    	fileinput.click();
	}
	function Handlechange()
	{
		var fileinput = document.getElementById("id_filename");
		var textinput = document.getElementById("id_filenametext");
		textinput.value = fileinput.value;
	}
	</script>

	<input type="file" name="filename" id="id_filename" onChange="Handlechange();"/>
	<input type="text" id="id_filenametext" readonly="true"/>
	<input type="button" value="{{dictum.chooseFile}}" id="id_fakeBrowse" onclick="HandleBrowseClick();"/>

   <input type="submit" value="{{dictum.sendbutton}}" class="sendbutton" id="applybutton"/>
   <div id="progress">
        <div id="bar"></div>
        <div id="percent">0%</div >
   </div>
   <div id="message"></div>
</form>

<script type="text/javascript">
function getUpdateStatus() {
    $.ajax({
        type: "POST",
        url: "/update/updatestatus/",
        data: null,
        success: function (data) {
            if (data == "False")
            {
            	setTimeout(getUpdateStatus, 2000);
            }
            else
            {
            	$("#message").html("<font color='green'>"+data+"</font>");
            }
            //window.alert(data);
            //confirm("If you want to close the window, press 'OK'?");
        },
        error: function(data) {
        	alert("Something went wrong!");
        }
    });
    return false;
}


$(document).ready(function() {
	var csrftoken = $('input[name="csrfmiddlewaretoken"]').val();
	function csrfSafeMethod(method) {
	    // these HTTP methods do not require CSRF protection
	    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	function sameOrigin(url) {
	    // test that a given url is a same-origin URL
	    // url could be relative or scheme relative or absolute
	    var host = document.location.host; // host + port
	    var protocol = document.location.protocol;
	    var sr_origin = '//' + host;
	    var origin = protocol + sr_origin;
	    // Allow absolute or scheme relative URLs to same origin
	    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
	        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
	        // or any other URL that isn't scheme relative or absolute i.e relative.
	        !(/^(\/\/|http:|https:).*/.test(url));
	}
	$.ajaxSetup({
	    beforeSend: function(xhr, settings) {
	        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
	            // Send the token to same-origin, relative URLs only.
	            // Send the token only if the method warrants CSRF protection
	            // Using the CSRFToken value acquired earlier
	            xhr.setRequestHeader("X-CSRFToken", csrftoken);
	        }
	    }
	});
		 
    var options = { 
	    beforeSend: function() 
		{
        	$("#progress").show();
        	//clear everything
        	$("#bar").width('0%');
        	$("#message").html("");
        	$("#percent").html("0%");
    	},
    	uploadProgress: function(event, position, total, percentComplete) 
	    {
		    $("#bar").width(percentComplete+'%');
		    $("#percent").html(percentComplete+'%');
		 
		},
		success: function() 
		{
		    $("#bar").width('100%');
		    $("#percent").html('100%');
		},
		complete: function(response) 
		{
			if (response.responseText.indexOf("Ошибка") != -1 || response.responseText.indexOf("Error") != -1)
			{
				$("#message").html("<font color='red'>"+response.responseText+"</font>");
				$("#bar").width('0%');
			    $("#percent").html('0%');
			}
			else
			{
		    	$("#message").html("<font color='green'>"+response.responseText+"</font>");
		    	setTimeout(getUpdateStatus, 2000);
			}
		},
		error: function()
		{
		    $("#message").html("<font color='red'> ERROR: unable to upload files</font>");
		}
		 
	}; 
		 
	$("#updateform").ajaxForm(options);
});
</script>

{% endblock %}